<div class="dashboard-container">
  <app-sidebar (tableSelected)="onTableSelected($event)"></app-sidebar>
  
  <section class="section is-main-section">
    <!-- Welcome Content -->
    <div *ngIf="selectedTableType === 'Dashboard'; else tableContent" class="welcome-container">
      <h1>Welcome to the Admin Dashboard</h1>
      <p>Your one-stop location for managing users, equipment, tickets, and departments.</p>
      <p>Use the sidebar to navigate through different sections of the application.</p>
    </div>

    <!-- Table Content -->
    <ng-template #tableContent>
      <ng-container *ngIf="selectedTableType">
        <app-table [tableType]="selectedTableType"></app-table>
      </ng-container>
    </ng-template>
  </section>
</div>
