<div class="menu is-menu-main">
  <p class="menu-label">Tables</p>
  <ul class="menu-list">
    <li>
      <a (click)="selectTable('Users')" class="has-icon">
        <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
        <span class="menu-item-label">Users</span>
      </a>
    </li>
    <li>
      <a (click)="selectTable('Equipement')" class="has-icon">
        <span class="icon"><i class="mdi mdi-settings"></i></span>
        <span class="menu-item-label">Equipement</span>
      </a>
    </li>
    <li>
      <a (click)="selectTable('Ticket')" class="has-icon">
        <span class="icon"><i class="mdi mdi-ticket"></i></span>
        <span class="menu-item-label">Ticket</span>
      </a>
    </li>
    <li>
      <a (click)="selectTable('Departement')" class="has-icon">
        <span class="icon"><i class="mdi mdi-office-building"></i></span>
        <span class="menu-item-label">Departement</span>
      </a>
    </li>
  </ul>
</div>
