<aside class="aside is-placed-left is-expanded">
  <div class="aside-tools">
    <div class="aside-tools-label">
      <span><b>Admin</b> Home</span>
    </div>
  </div>
  <div class="menu is-menu-main">
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li>
        <a (click)="selectTable('Dashboard')" [ngClass]="{'is-active': selectedTableType === 'Dashboard'}" class="has-icon">
          <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
          <span class="menu-item-label">Dashboard</span>
        </a>
      </li>
    </ul>
    <p class="menu-label">Tables</p>
    <ul class="menu-list">
      <li>
        <a (click)="selectTable('Users')" [ngClass]="{'is-active': selectedTableType === 'Users'}" class="has-icon">
          <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
          <span class="menu-item-label">Users</span>
        </a>
      </li>
      <li>
        <a (click)="selectTable('Equipement')" [ngClass]="{'is-active': selectedTableType === 'Equipement'}" class="has-icon">
          <span class="icon"><i class="mdi mdi-settings"></i></span>
          <span class="menu-item-label">Equipement</span>
        </a>
      </li>
      <li>
        <a (click)="selectTable('Ticket')" [ngClass]="{'is-active': selectedTableType === 'Ticket'}" class="has-icon">
          <span class="icon"><i class="mdi mdi-ticket"></i></span>
          <span class="menu-item-label">Ticket</span>
        </a>
      </li>
      <li>
        <a (click)="selectTable('Departement')" [ngClass]="{'is-active': selectedTableType === 'Departement'}" class="has-icon">
          <span class="icon"><i class="mdi mdi-office-building"></i></span>
          <span class="menu-item-label">Departement</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Logout Button -->
  <div class="aside-logout">
    <button (click)="logout()" class="logout-button">
      <span class="icon"><i class="mdi mdi-logout"></i></span>
      <span>Logout</span>
    </button>
  </div>
</aside>
